@using SEDC.Lamazon.Services.ViewModels.Product

@model ProductViewModel

<div class="card shadow mt-4 mb-4"
    <div class="card-header bg-primary text-light py-4">
        <div class="col-12 text-center">
            <h3 class="text-dark text-uppercase"> @Model.Name</h3>
        </div>
    </div>

    <div class="card-body">
        <div class="row">
            <div class="col-6">
                <a asp-action="Index" class="btn btn-outline-primary text-uppercase">Back to home</a>
            </div>
        </div>

        <div class="col-12">
            <div class="col-12 text-center">
                <img src="@Model.ImageUrl" class="d-block w-50" />
            </div>
            <div class="col-12">
                <span class="badge bg-primary">@Model.ProductCategoryName</span>
            </div>
            <div class="col-12 text-dark">
                <p>@Model.Description</p>
            </div>
            <div class="row">
                <h6 class="text-dark text-opacity-50 pb-2">
                    List Price: <span>@Model.Price.ToString("c")</span>
                </h6>
            </div>
            <div class="row">
                <div class="col-12">
                    <a class="btn btn-primary" asp-action="AddToCart" asp-route-productId="@Model.Id">Add to Cart</a>
                </div>
            </div>
        </div>
    </div>
</div>